<div>
  <h2 id="page-heading" data-cy="EnsoleillementHeading">
    <span jhiTranslate="monolithApp.ensoleillement.home.title">Ensoleillements</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="monolithApp.ensoleillement.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ensoleillement"
        [routerLink]="['/ensoleillement/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="monolithApp.ensoleillement.home.createLabel"> Create a new Ensoleillement </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="ensoleillements?.length === 0">
    <span jhiTranslate="monolithApp.ensoleillement.home.notFound">No ensoleillements found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="ensoleillements && ensoleillements.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="orientation">
            <span jhiTranslate="monolithApp.ensoleillement.orientation">Orientation</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="ensoleilement">
            <span jhiTranslate="monolithApp.ensoleillement.ensoleilement">Ensoleilement</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="plante.id">
            <span jhiTranslate="monolithApp.ensoleillement.plante">Plante</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ensoleillement of ensoleillements; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/ensoleillement', ensoleillement.id, 'view']">{{ ensoleillement.id }}</a>
          </td>
          <td>{{ ensoleillement.orientation }}</td>
          <td>{{ ensoleillement.ensoleilement }}</td>
          <td>
            <div *ngIf="ensoleillement.plante">
              <a [routerLink]="['/plante', ensoleillement.plante?.id, 'view']">{{ ensoleillement.plante?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/ensoleillement', ensoleillement.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/ensoleillement', ensoleillement.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(ensoleillement)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="ensoleillements && ensoleillements.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
