<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-ensoleillement-heading"
        data-cy="EnsoleillementCreateUpdateHeading"
        jhiTranslate="monolithApp.ensoleillement.home.createOrEditLabel"
      >
        Create or edit a Ensoleillement
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="monolithApp.ensoleillement.orientation" for="field_orientation">Orientation</label>
          <input
            type="text"
            class="form-control"
            name="orientation"
            id="field_orientation"
            data-cy="orientation"
            formControlName="orientation"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="monolithApp.ensoleillement.ensoleilement" for="field_ensoleilement">Ensoleilement</label>
          <input
            type="number"
            class="form-control"
            name="ensoleilement"
            id="field_ensoleilement"
            data-cy="ensoleilement"
            formControlName="ensoleilement"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="monolithApp.ensoleillement.plante" for="field_plante">Plante</label>
          <select class="form-control" id="field_plante" data-cy="plante" name="plante" formControlName="plante">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="planteOption.id === editForm.get('plante')!.value?.id ? editForm.get('plante')!.value : planteOption"
              *ngFor="let planteOption of plantesSharedCollection; trackBy: trackPlanteById"
            >
              {{ planteOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
