<div class="d-flex justify-content-center">
  <div *ngIf="!!this.plante === false; else plantForm">
    missing plante
  </div>

  <ng-template #plantForm class="col-8">
    <h2 data-cy="PlanteCreateUpdateHeading" id="jhi-plante-heading"
        jhiTranslate="monolithApp.addPlante.fiche.title">
      Fiche plante
    </h2>

    <div>
      <jhi-alert-error></jhi-alert-error>

      <div class="row mb-3">
        <h1>Images</h1>
        <ul>
          <li *ngFor="let image of images; let i = index" data-cy="imageCarousel">
            <img
              id="image{{i}}"
              alt="{{image.description}}"
              title="{{image.description}}"
              height="333" src="{{image.url?.url}}" width="500">
            {{image.url?.url}}
          </li>
        </ul>
      </div>

      <div class="table-responsive" id="nomsVernaculaires">
        <h1 jhiTranslate="monolithApp.nomVernaculaire.nom"> Canada</h1>
        <ng-container *ngFor="let nv of plante?.nomsVernaculaires; let i = index; let last = last;"
                      data-cy="nomsVernaculairesList">
          <span id="nomVernaculaire{{i}}" title="{{nv.description}}">{{nv.nom}}</span>
          <span *ngIf="last===false">, </span>
        </ng-container>
      </div>

      <div *ngIf="cronquistClassification?.length ?? 0 > 0" class="table-responsive" id="cronquist">
        <table aria-describedby="page-heading" class="table table-striped">
          <thead>
          <tr>
            <th scope="col">
              <span jhiTranslate="monolithApp.cronquistRank.rank">Rank</span>
            </th>
            <th scope="col"><span jhiTranslate="monolithApp.cronquistRank.nom">Nom</span>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let cronquistRank of cronquistClassification; let i = index" data-cy="cronquistTable">
            <td jhiTranslate="{{ 'monolithApp.CronquistTaxonomicRank.' + cronquistRank.rank }}">
              {{ cronquistRank.rank }}
            </td>
            <td>
              {{cronquistRank.nom}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="row mb-3">
        <h1>Sources</h1>
        <ul>
          <li *ngFor="let source of sources; let i = index" data-cy="sourceCarousel">
            <a
              id="source{{i}}"
              href="{{source.url?.url}}"
              title="{{source.description}}"
            >
              {{source.url?.url}}
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div>
      <button (click)="previousState()" class="btn btn-secondary" data-cy="entityCreateCancelButton" id="cancel-save"
              type="button">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
      </button>
    </div>
  </ng-template>
</div>
