<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="plante">
      <h2 data-cy="planteDetailsHeading"><span jhiTranslate="monolithApp.plante.detail.title">Plante</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ plante.id }}</span>
        </dd>
        <dt><span jhiTranslate="monolithApp.plante.entretien">Entretien</span></dt>
        <dd>
          <span>{{ plante.entretien }}</span>
        </dd>
        <dt><span jhiTranslate="monolithApp.plante.histoire">Histoire</span></dt>
        <dd>
          <span>{{ plante.histoire }}</span>
        </dd>
        <dt><span jhiTranslate="monolithApp.plante.vitesseCroissance">Vitesse Croissance</span></dt>
        <dd>
          <span>{{ plante.vitesseCroissance }}</span>
        </dd>
        <dt><span jhiTranslate="monolithApp.plante.exposition">Exposition</span></dt>
        <dd>
          <span>{{ plante.exposition }}</span>
        </dd>
        <dt><span jhiTranslate="monolithApp.plante.cycleDeVie">Cycle De Vie</span></dt>
        <dd>
          <div *ngIf="plante.cycleDeVie">
            <a [routerLink]="['/cycle-de-vie', plante.cycleDeVie?.id, 'view']">{{ plante.cycleDeVie?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="monolithApp.plante.sol">Sol</span></dt>
        <dd>
          <div *ngIf="plante.sol">
            <a [routerLink]="['/sol', plante.sol?.id, 'view']">{{ plante.sol?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="monolithApp.plante.temperature">Temperature</span></dt>
        <dd>
          <div *ngIf="plante.temperature">
            <a [routerLink]="['/temperature', plante.temperature?.id, 'view']">{{ plante.temperature?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="monolithApp.plante.racine">Racine</span></dt>
        <dd>
          <div *ngIf="plante.racine">
            <a [routerLink]="['/racine', plante.racine?.id, 'view']">{{ plante.racine?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="monolithApp.plante.strate">Strate</span></dt>
        <dd>
          <div *ngIf="plante.strate">
            <a [routerLink]="['/strate', plante.strate?.id, 'view']">{{ plante.strate?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="monolithApp.plante.feuillage">Feuillage</span></dt>
        <dd>
          <div *ngIf="plante.feuillage">
            <a [routerLink]="['/feuillage', plante.feuillage?.id, 'view']">{{ plante.feuillage?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="monolithApp.plante.nomsVernaculaires">Noms Vernaculaires</span></dt>
        <dd>
          <span *ngFor="let nomsVernaculaires of plante.nomsVernaculaires; let last = last">
            <a [routerLink]="['/nom-vernaculaire', nomsVernaculaires?.id, 'view']">{{ nomsVernaculaires.nom }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span jhiTranslate="monolithApp.plante.planteBotanique">Plante Botanique</span></dt>
        <dd>
          <div *ngIf="plante.planteBotanique">
            <a [routerLink]="['/plante', plante.planteBotanique?.id, 'view']">{{ plante.planteBotanique?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/plante', plante.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
