<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="plante">
      <h2 data-cy="planteDetailsHeading"><span jhiTranslate="monolithApp.plante.detail.title">Plante</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ plante.id }}</span>
        </dd>
        <dt><span jhiTranslate="monolithApp.plante.cronquistRank">Cronquist Rank</span></dt>
        <dd>
          <div *ngIf="plante.cronquistRank">
            <a [routerLink]="['/cronquist-rank', plante.cronquistRank?.id, 'view']">{{ plante.cronquistRank?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="monolithApp.plante.nomsVernaculaires">Noms Vernaculaires</span></dt>
        <dd>
          <span *ngFor="let nomsVernaculaires of plante.nomsVernaculaires; let last = last">
            <a [routerLink]="['/nom-vernaculaire', nomsVernaculaires?.id, 'view']">{{ nomsVernaculaires.nom }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/plante', plante.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
