<div class="d-flex justify-content-center">
  <div *ngIf="missingPlante;else plantForm">
    missing plante
  </div>

  <ng-template #plantForm class="col-8">
    <form (ngSubmit)="save()" *ngIf="!missingPlante" [formGroup]="editForm" name="editForm" novalidate role="form">
      <h2 data-cy="PlanteCreateUpdateHeading" id="jhi-plante-heading"
          jhiTranslate="monolithApp.plante.home.createOrEditLabel">
        Create or edit a Plante
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <a href="http://www.tela-botanica.org/bdtfx-nn-85" target="_blank" title="https://www.tela-botanica.org">
          <img alt="tela-botanica" src="content/images/logo/Partenaires/Logo_Tela.png" width="200">
        </a>
        <a href="http://nature.jardin.free.fr/" target="_blank" title="http://nature.jardin.free.fr/">
          <img alt="nature.jardin" src="content/images/logo/Partenaires/nature-jardin.ico" width="200">
        </a>

        <div [hidden]="editForm.get('id')!.value == null" class="row mb-3">
          <label class="form-label" for="field_id" jhiTranslate="global.field.id">ID</label>
          <input [readonly]="true" class="form-control" data-cy="id" formControlName="id" id="field_id" name="id"
                 type="number"/>
        </div>

        <div class="row mb-3">
          <h1>Images</h1>
          <ul>
            <ng-container formArrayName="images">
              <li *ngFor="let image of images.controls; let i = index" data-cy="imageCarousel">
                <input [attr.data-cy]="'image'+i" [jhiBindReferenceTo]="'url'"
                       class="form-control"
                       formControlName="{{i}}" id="image{{i}}" name="image{{i}}" placeholder="Url de l'image"
                       type="text"/>
                <input [attr.data-cy]="'image'+i" [jhiBindReferenceTo]="'description'"
                       class="form-control"
                       formControlName="{{i}}" id="image{{i}}" name="image{{i}}" placeholder="Description de l'image"
                       type="text"/>
                <img
                  alt="Trulli"
                  height="333" src="{{image.value.url.url}}" width="500">
                <button (click)="deleteImage(i)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton"
                        type="submit">
                  <fa-icon icon="times"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                </button>
              </li>
            </ng-container>


          </ul>
          <button (click)="ajoutImage()" class="btn btn-primary jh-create-entity"
                  data-cy="ajoutImage"
                  id="ajout-image"
                  type="button">
            <fa-icon icon="plus"></fa-icon>
            <span jhiTranslate="monolithApp.addPlante.update.image.add">Add picture</span>
          </button>
        </div>

        <div class="table-responsive" id="nomsVernaculaires">
          <table aria-describedby="page-heading" class="table table-striped">
            <thead>
            <tr>
              <th scope="col">
                <span jhiTranslate="monolithApp.nomVernaculaire.nom">Nom vernaculaire</span>
                <fa-icon icon="sort"></fa-icon>
              </th>
              <th scope="col"><span jhiTranslate="monolithApp.nomVernaculaire.description">Description</span>
                <fa-icon icon="sort"></fa-icon>
              </th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let _ of editForm.get('nomsVernaculaires')?.value; let i = index"
                [formGroupName]="'nomsVernaculaires'"
                data-cy="nomsVernaculairesTable">
              <td>
                <input [attr.data-cy]="'nom'+i" [jhiBindNomVernaculaireTo]="'nom'" class="form-control"
                       formControlName="{{i}}"
                       id="nom{{i}}" name="nom{{i}}" type="text"/>
              </td>
              <td>
                <input [attr.data-cy]="'description'+i" [jhiBindNomVernaculaireTo]="'description'" class="form-control"
                       formControlName="{{i}}"
                       id="description{{i}}" name="description{{i}}"
                       type="text"/>
              </td>
              <td>
                <button (click)="deleteNomVernaculaire(i)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton"
                        type="submit">
                  <fa-icon icon="times"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                </button>
              </td>
            </tr>
            </tbody>
          </table>

          <button (click)="ajoutNomVernaculaire()" class="btn btn-primary jh-create-entity"
                  data-cy="ajoutNomVernaculaire"
                  id="ajout-nom-vernaculaire"
                  type="button">
            <fa-icon icon="plus"></fa-icon>
            <span jhiTranslate="monolithApp.addPlante.update.nomVernaculaire.add">Add row</span>
          </button>
        </div>

        <div *ngIf="cronquistRanks && cronquistRanks.length > 0" class="table-responsive" id="cronquist">
          <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
              <th scope="col">
                <span jhiTranslate="monolithApp.cronquistRank.rank">Rank</span>
                <fa-icon icon="sort"></fa-icon>
              </th>
              <th scope="col"><span jhiTranslate="monolithApp.cronquistRank.nom">Nom</span>
                <fa-icon icon="sort"></fa-icon>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cronquistRank of cronquistRanks; let i = index" data-cy="entityTable"
                [formGroupName]="'cronquist'">
              <td
                jhiTranslate="{{ 'monolithApp.CronquistTaxonomicRank.' + cronquistRank.rank }}">{{ cronquistRank.rank }}</td>
              <input type="text" class="form-control" name="{{cronquistRank.nom}}" id="field_{{cronquistRank.nom}}"
                     data-cy="nom" formControlName="{{cronquistRank.rank}}"/>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="row mb-3">
          <h1>Sources</h1>
          <ul>
            <ng-container formArrayName="sources">
              <li *ngFor="let source of sources.controls; let i = index" data-cy="sourceCarousel">
                <div *ngIf="isDisabled(i); else editUrl">
                  <div (click)="redirect(i)">{{source.value.url.url}}</div>
                </div>
                <ng-template #editUrl>
                  <input [attr.data-cy]="'source'+i"
                         [jhiBindReferenceTo]="'url'"
                         class="form-control" formControlName="{{i}}" id="source{{i}}" name="source{{i}}"
                         type="text"/>
                </ng-template>
                <input [attr.data-cy]="'source'+i" [jhiBindReferenceTo]="'description'"
                       class="form-control"
                       formControlName="{{i}}" id="source{{i}}" name="source{{i}}" type="text"/>
                <small *ngIf="source.errors?.invalidFormat" class="form-text text-danger"
                       jhiTranslate="monolithApp.addPlante.update.source.invalidUrl">
                  Invalid url format
                </small>
                <button
                  (click)="toggleSourceEdit(i)"
                  class="btn btn-primary btn-sm"
                  data-cy="entityEditButton"
                  id="edit-source-{{i}}"
                  type="button">
                  <fa-icon icon="plus"></fa-icon>
                  <span jhiTranslate="monolithApp.addPlante.update.source.edit">Edit source</span>
                </button>
                <button (click)="deleteSource(i)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton"
                        type="submit">
                  <fa-icon icon="times"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                </button>
              </li>
            </ng-container>
          </ul>
          <button (click)="ajoutSource()" class="btn btn-primary jh-create-entity"
                  data-cy="ajoutSource"
                  id="ajout-source"
                  type="button">
            <fa-icon icon="plus"></fa-icon>
            <span jhiTranslate="monolithApp.addPlante.update.source.add">Add source</span>
          </button>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary"
                (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
          data-cy="entityCreateSaveButton"
          id="save-entity"
          type="submit"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </ng-template>
</div>
