
<h1>{{test}}</h1>

<!--<div class="d-flex justify-content-center">-->
<!--  <div class="col-8">-->
<!--    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">-->
<!--      <h2 id="jhi-plante-heading" data-cy="PlanteCreateUpdateHeading" jhiTranslate="monolithApp.plante.home.createOrEditLabel">-->
<!--        Create or edit a Plante-->
<!--      </h2>-->

<!--      <div>-->
<!--        <jhi-alert-error></jhi-alert-error>-->

<!--        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">-->
<!--          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>-->
<!--          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />-->
<!--        </div>-->

<!--        <div class="row mb-3">-->
<!--          <label class="form-label" jhiTranslate="monolithApp.plante.entretien" for="field_entretien">Entretien</label>-->
<!--          <input type="text" class="form-control" name="entretien" id="field_entretien" data-cy="entretien" formControlName="entretien" />-->
<!--        </div>-->

<!--        <div class="row mb-3">-->
<!--          <label class="form-label" jhiTranslate="monolithApp.plante.histoire" for="field_histoire">Histoire</label>-->
<!--          <input type="text" class="form-control" name="histoire" id="field_histoire" data-cy="histoire" formControlName="histoire" />-->
<!--        </div>-->

<!--        <div class="row mb-3">-->
<!--          <label class="form-label" jhiTranslate="monolithApp.plante.vitesseCroissance" for="field_vitesseCroissance"-->
<!--            >Vitesse Croissance</label-->
<!--          >-->
<!--          <input-->
<!--            type="text"-->
<!--            class="form-control"-->
<!--            name="vitesseCroissance"-->
<!--            id="field_vitesseCroissance"-->
<!--            data-cy="vitesseCroissance"-->
<!--            formControlName="vitesseCroissance"-->
<!--          />-->
<!--        </div>-->

<!--        <div class="row mb-3">-->
<!--          <label class="form-label" jhiTranslate="monolithApp.plante.exposition" for="field_exposition">Exposition</label>-->
<!--          <input-->
<!--            type="text"-->
<!--            class="form-control"-->
<!--            name="exposition"-->
<!--            id="field_exposition"-->
<!--            data-cy="exposition"-->
<!--            formControlName="exposition"-->
<!--          />-->
<!--        </div>-->

<!--        <div class="row mb-3">-->
<!--          <label class="form-label" jhiTranslate="monolithApp.plante.cycleDeVie" for="field_cycleDeVie">Cycle De Vie</label>-->
<!--          <select class="form-control" id="field_cycleDeVie" data-cy="cycleDeVie" name="cycleDeVie" formControlName="cycleDeVie">-->
<!--            <option [ngValue]="null"></option>-->
<!--            <option-->
<!--              [ngValue]="-->
<!--                cycleDeVieOption.id === editForm.get('cycleDeVie')!.value?.id ? editForm.get('cycleDeVie')!.value : cycleDeVieOption-->
<!--              "-->
<!--              *ngFor="let cycleDeVieOption of cycleDeViesSharedCollection; trackBy: trackCycleDeVieById"-->
<!--            >-->
<!--              {{ cycleDeVieOption.id }}-->
<!--            </option>-->
<!--          </select>-->
<!--        </div>-->

<!--        <div class="row mb-3">-->
<!--          <label class="form-label" jhiTranslate="monolithApp.plante.sol" for="field_sol">Sol</label>-->
<!--          <select class="form-control" id="field_sol" data-cy="sol" name="sol" formControlName="sol">-->
<!--            <option [ngValue]="null"></option>-->
<!--            <option-->
<!--              [ngValue]="solOption.id === editForm.get('sol')!.value?.id ? editForm.get('sol')!.value : solOption"-->
<!--              *ngFor="let solOption of solsSharedCollection; trackBy: trackSolById"-->
<!--            >-->
<!--              {{ solOption.id }}-->
<!--            </option>-->
<!--          </select>-->
<!--        </div>-->

<!--        <div class="row mb-3">-->
<!--          <label class="form-label" jhiTranslate="monolithApp.plante.temperature" for="field_temperature">Temperature</label>-->
<!--          <select class="form-control" id="field_temperature" data-cy="temperature" name="temperature" formControlName="temperature">-->
<!--            <option [ngValue]="null"></option>-->
<!--            <option-->
<!--              [ngValue]="-->
<!--                temperatureOption.id === editForm.get('temperature')!.value?.id ? editForm.get('temperature')!.value : temperatureOption-->
<!--              "-->
<!--              *ngFor="let temperatureOption of temperaturesSharedCollection; trackBy: trackTemperatureById"-->
<!--            >-->
<!--              {{ temperatureOption.id }}-->
<!--            </option>-->
<!--          </select>-->
<!--        </div>-->

<!--        <div class="row mb-3">-->
<!--          <label class="form-label" jhiTranslate="monolithApp.plante.racine" for="field_racine">Racine</label>-->
<!--          <select class="form-control" id="field_racine" data-cy="racine" name="racine" formControlName="racine">-->
<!--            <option [ngValue]="null"></option>-->
<!--            <option-->
<!--              [ngValue]="racineOption.id === editForm.get('racine')!.value?.id ? editForm.get('racine')!.value : racineOption"-->
<!--              *ngFor="let racineOption of racinesSharedCollection; trackBy: trackRacineById"-->
<!--            >-->
<!--              {{ racineOption.id }}-->
<!--            </option>-->
<!--          </select>-->
<!--        </div>-->

<!--        <div class="row mb-3">-->
<!--          <label class="form-label" jhiTranslate="monolithApp.plante.strate" for="field_strate">Strate</label>-->
<!--          <select class="form-control" id="field_strate" data-cy="strate" name="strate" formControlName="strate">-->
<!--            <option [ngValue]="null"></option>-->
<!--            <option-->
<!--              [ngValue]="strateOption.id === editForm.get('strate')!.value?.id ? editForm.get('strate')!.value : strateOption"-->
<!--              *ngFor="let strateOption of stratesSharedCollection; trackBy: trackStrateById"-->
<!--            >-->
<!--              {{ strateOption.id }}-->
<!--            </option>-->
<!--          </select>-->
<!--        </div>-->

<!--        <div class="row mb-3">-->
<!--          <label class="form-label" jhiTranslate="monolithApp.plante.feuillage" for="field_feuillage">Feuillage</label>-->
<!--          <select class="form-control" id="field_feuillage" data-cy="feuillage" name="feuillage" formControlName="feuillage">-->
<!--            <option [ngValue]="null"></option>-->
<!--            <option-->
<!--              [ngValue]="feuillageOption.id === editForm.get('feuillage')!.value?.id ? editForm.get('feuillage')!.value : feuillageOption"-->
<!--              *ngFor="let feuillageOption of feuillagesSharedCollection; trackBy: trackFeuillageById"-->
<!--            >-->
<!--              {{ feuillageOption.id }}-->
<!--            </option>-->
<!--          </select>-->
<!--        </div>-->

<!--        <div class="row mb-3">-->
<!--          <label jhiTranslate="monolithApp.plante.nomsVernaculaires" for="field_nomsVernaculaires">Noms Vernaculaires</label>-->
<!--          <select-->
<!--            class="form-control"-->
<!--            id="field_nomsVernaculaires"-->
<!--            data-cy="nomsVernaculaires"-->
<!--            multiple-->
<!--            name="nomsVernaculaires"-->
<!--            formControlName="nomsVernaculaires"-->
<!--          >-->
<!--            <option-->
<!--              [ngValue]="getSelectedNomVernaculaire(nomVernaculaireOption, editForm.get('nomsVernaculaires')!.value)"-->
<!--              *ngFor="let nomVernaculaireOption of nomVernaculairesSharedCollection; trackBy: trackNomVernaculaireById"-->
<!--            >-->
<!--              {{ nomVernaculaireOption.nom }}-->
<!--            </option>-->
<!--          </select>-->
<!--        </div>-->

<!--        <div class="row mb-3">-->
<!--          <label class="form-label" jhiTranslate="monolithApp.plante.planteBotanique" for="field_planteBotanique">Plante Botanique</label>-->
<!--          <select-->
<!--            class="form-control"-->
<!--            id="field_planteBotanique"-->
<!--            data-cy="planteBotanique"-->
<!--            name="planteBotanique"-->
<!--            formControlName="planteBotanique"-->
<!--          >-->
<!--            <option [ngValue]="null"></option>-->
<!--            <option-->
<!--              [ngValue]="-->
<!--                planteOption.id === editForm.get('planteBotanique')!.value?.id ? editForm.get('planteBotanique')!.value : planteOption-->
<!--              "-->
<!--              *ngFor="let planteOption of plantesSharedCollection; trackBy: trackPlanteById"-->
<!--            >-->
<!--              {{ planteOption.id }}-->
<!--            </option>-->
<!--          </select>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div>-->
<!--        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">-->
<!--          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>-->
<!--        </button>-->

<!--        <button-->
<!--          type="submit"-->
<!--          id="save-entity"-->
<!--          data-cy="entityCreateSaveButton"-->
<!--          [disabled]="editForm.invalid || isSaving"-->
<!--          class="btn btn-primary"-->
<!--        >-->
<!--          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>-->
<!--        </button>-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->
