<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="engler">
      <h2 data-cy="englerDetailsHeading"><span jhiTranslate="monolithApp.engler.detail.title">Engler</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ engler.id }}</span>
        </dd>
        <dt><span jhiTranslate="monolithApp.engler.classification">Classification</span></dt>
        <dd>
          <div *ngIf="engler.classification">
            <a [routerLink]="['/classification', engler.classification?.id, 'view']">{{ engler.classification?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/engler', engler.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
