<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-semis-heading" data-cy="SemisCreateUpdateHeading" jhiTranslate="monolithApp.semis.home.createOrEditLabel">
        Create or edit a Semis
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="monolithApp.semis.semisPleineTerre" for="field_semisPleineTerre"
            >Semis Pleine Terre</label
          >
          <select
            class="form-control"
            id="field_semisPleineTerre"
            data-cy="semisPleineTerre"
            name="semisPleineTerre"
            formControlName="semisPleineTerre"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                periodeAnneeOption.id === editForm.get('semisPleineTerre')!.value?.id
                  ? editForm.get('semisPleineTerre')!.value
                  : periodeAnneeOption
              "
              *ngFor="let periodeAnneeOption of periodeAnneesSharedCollection; trackBy: trackPeriodeAnneeById"
            >
              {{ periodeAnneeOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="monolithApp.semis.semisSousAbris" for="field_semisSousAbris">Semis Sous Abris</label>
          <select
            class="form-control"
            id="field_semisSousAbris"
            data-cy="semisSousAbris"
            name="semisSousAbris"
            formControlName="semisSousAbris"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                periodeAnneeOption.id === editForm.get('semisSousAbris')!.value?.id
                  ? editForm.get('semisSousAbris')!.value
                  : periodeAnneeOption
              "
              *ngFor="let periodeAnneeOption of periodeAnneesSharedCollection; trackBy: trackPeriodeAnneeById"
            >
              {{ periodeAnneeOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="monolithApp.semis.typeSemis" for="field_typeSemis">Type Semis</label>
          <select class="form-control" id="field_typeSemis" data-cy="typeSemis" name="typeSemis" formControlName="typeSemis">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="typeSemisOption.id === editForm.get('typeSemis')!.value?.id ? editForm.get('typeSemis')!.value : typeSemisOption"
              *ngFor="let typeSemisOption of typeSemisSharedCollection; trackBy: trackTypeSemisById"
            >
              {{ typeSemisOption.type }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="monolithApp.semis.germination" for="field_germination">Germination</label>
          <select class="form-control" id="field_germination" data-cy="germination" name="germination" formControlName="germination">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                germinationOption.id === editForm.get('germination')!.value?.id ? editForm.get('germination')!.value : germinationOption
              "
              *ngFor="let germinationOption of germinationsSharedCollection; trackBy: trackGerminationById"
            >
              {{ germinationOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
