<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="sol">
      <h2 data-cy="solDetailsHeading"><span jhiTranslate="monolithApp.sol.detail.title">Sol</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ sol.id }}</span>
        </dd>
        <dt><span jhiTranslate="monolithApp.sol.phMin">Ph Min</span></dt>
        <dd>
          <span>{{ sol.phMin }}</span>
        </dd>
        <dt><span jhiTranslate="monolithApp.sol.phMax">Ph Max</span></dt>
        <dd>
          <span>{{ sol.phMax }}</span>
        </dd>
        <dt><span jhiTranslate="monolithApp.sol.type">Type</span></dt>
        <dd>
          <span>{{ sol.type }}</span>
        </dd>
        <dt><span jhiTranslate="monolithApp.sol.richesse">Richesse</span></dt>
        <dd>
          <span>{{ sol.richesse }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/sol', sol.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
