<div class="d-flex justify-content-center">
  <div class="col-8">

    <h2 data-cy="planteDetailsHeading"><span jhiTranslate="monolithApp.plante.detail.title">Plante</span></h2>

    <hr/>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <div class="row mb-3">
        <label class="form-label" jhiTranslate="monolithApp.addPlante.planteSearch" for="field_search">Rechercher la
          plante</label>
        <input type="text" class="form-control" name="search" id="field_search" data-cy="search"
               formControlName="search"/>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary"
                (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSearching"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>

    </form>

    <div *ngIf="planteSuggestions && planteSuggestions.length > 0">
      <table aria-describedby="page-heading" class="table table-striped">
        <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">nom vernaculaire</th>
          <th scope="col">rang le plus bas connus</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let planteSuggestion of planteSuggestions">
          <td>{{planteSuggestion.id}}</td>
          <td>{{planteSuggestion.nomsVernaculaires}}</td>
          <td>{{planteSuggestion.cronquistClassificationBranch}}</td>
          <td>Je choisi celle-ci :-) TODO</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
