<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="ensoleillement">
      <h2 data-cy="ensoleillementDetailsHeading"><span jhiTranslate="monolithApp.ensoleillement.detail.title">Ensoleillement</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ ensoleillement.id }}</span>
        </dd>
        <dt><span jhiTranslate="monolithApp.ensoleillement.orientation">Orientation</span></dt>
        <dd>
          <span>{{ ensoleillement.orientation }}</span>
        </dd>
        <dt><span jhiTranslate="monolithApp.ensoleillement.ensoleilement">Ensoleilement</span></dt>
        <dd>
          <span>{{ ensoleillement.ensoleilement }}</span>
        </dd>
        <dt><span jhiTranslate="monolithApp.ensoleillement.plante">Plante</span></dt>
        <dd>
          <div *ngIf="ensoleillement.plante">
            <a [routerLink]="['/plante', ensoleillement.plante?.id, 'view']">{{ ensoleillement.plante?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/ensoleillement', ensoleillement.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
