<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="cycleDeVie">
      <h2 data-cy="cycleDeVieDetailsHeading"><span jhiTranslate="monolithApp.cycleDeVie.detail.title">Cycle De Vie</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ cycleDeVie.id }}</span>
        </dd>
        <dt><span jhiTranslate="monolithApp.cycleDeVie.semis">Semis</span></dt>
        <dd>
          <div *ngIf="cycleDeVie.semis">
            <a [routerLink]="['/semis', cycleDeVie.semis?.id, 'view']">{{ cycleDeVie.semis?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="monolithApp.cycleDeVie.apparitionFeuilles">Apparition Feuilles</span></dt>
        <dd>
          <div *ngIf="cycleDeVie.apparitionFeuilles">
            <a [routerLink]="['/periode-annee', cycleDeVie.apparitionFeuilles?.id, 'view']">{{ cycleDeVie.apparitionFeuilles?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="monolithApp.cycleDeVie.floraison">Floraison</span></dt>
        <dd>
          <div *ngIf="cycleDeVie.floraison">
            <a [routerLink]="['/periode-annee', cycleDeVie.floraison?.id, 'view']">{{ cycleDeVie.floraison?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="monolithApp.cycleDeVie.recolte">Recolte</span></dt>
        <dd>
          <div *ngIf="cycleDeVie.recolte">
            <a [routerLink]="['/periode-annee', cycleDeVie.recolte?.id, 'view']">{{ cycleDeVie.recolte?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="monolithApp.cycleDeVie.croissance">Croissance</span></dt>
        <dd>
          <div *ngIf="cycleDeVie.croissance">
            <a [routerLink]="['/periode-annee', cycleDeVie.croissance?.id, 'view']">{{ cycleDeVie.croissance?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="monolithApp.cycleDeVie.maturite">Maturite</span></dt>
        <dd>
          <div *ngIf="cycleDeVie.maturite">
            <a [routerLink]="['/periode-annee', cycleDeVie.maturite?.id, 'view']">{{ cycleDeVie.maturite?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="monolithApp.cycleDeVie.plantation">Plantation</span></dt>
        <dd>
          <div *ngIf="cycleDeVie.plantation">
            <a [routerLink]="['/periode-annee', cycleDeVie.plantation?.id, 'view']">{{ cycleDeVie.plantation?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="monolithApp.cycleDeVie.rempotage">Rempotage</span></dt>
        <dd>
          <div *ngIf="cycleDeVie.rempotage">
            <a [routerLink]="['/periode-annee', cycleDeVie.rempotage?.id, 'view']">{{ cycleDeVie.rempotage?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="monolithApp.cycleDeVie.reproduction">Reproduction</span></dt>
        <dd>
          <div *ngIf="cycleDeVie.reproduction">
            <a [routerLink]="['/reproduction', cycleDeVie.reproduction?.id, 'view']">{{ cycleDeVie.reproduction?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/cycle-de-vie', cycleDeVie.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
