<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="url">
      <h2 data-cy="urlDetailsHeading"><span jhiTranslate="monolithApp.url.detail.title">Url</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ url.id }}</span>
        </dd>
        <dt><span jhiTranslate="monolithApp.url.url">Url</span></dt>
        <dd>
          <span>{{ url.url }}</span>
        </dd>
        <dt><span jhiTranslate="monolithApp.url.cronquistRank">Cronquist Rank</span></dt>
        <dd>
          <div *ngIf="url.cronquistRank">
            <a [routerLink]="['/cronquist-rank', url.cronquistRank?.id, 'view']">{{ url.cronquistRank?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/url', url.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
