<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-allelopathie-heading"
        data-cy="AllelopathieCreateUpdateHeading"
        jhiTranslate="monolithApp.allelopathie.home.createOrEditLabel"
      >
        Create or edit a Allelopathie
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="monolithApp.allelopathie.type" for="field_type">Type</label>
          <input type="text" class="form-control" name="type" id="field_type" data-cy="type" formControlName="type" />
          <div *ngIf="editForm.get('type')!.invalid && (editForm.get('type')!.dirty || editForm.get('type')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('type')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="monolithApp.allelopathie.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="monolithApp.allelopathie.impact" for="field_impact">Impact</label>
          <input type="number" class="form-control" name="impact" id="field_impact" data-cy="impact" formControlName="impact" />
          <div *ngIf="editForm.get('impact')!.invalid && (editForm.get('impact')!.dirty || editForm.get('impact')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('impact')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: -10 }"
            >
              This field should be at least -10.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('impact')?.errors?.max"
              jhiTranslate="entity.validation.max"
              [translateValues]="{ max: 10 }"
            >
              This field cannot be more than 10.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('impact')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="monolithApp.allelopathie.cible" for="field_cible">Cible</label>
          <select class="form-control" id="field_cible" data-cy="cible" name="cible" formControlName="cible">
            <option *ngIf="!editForm.get('cible')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="planteOption.id === editForm.get('cible')!.value?.id ? editForm.get('cible')!.value : planteOption"
              *ngFor="let planteOption of plantesSharedCollection; trackBy: trackPlanteById"
            >
              {{ planteOption.id }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['cible'])!.invalid && (editForm.get(['cible'])!.dirty || editForm.get(['cible'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['cible'])?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="monolithApp.allelopathie.origine" for="field_origine">Origine</label>
          <select class="form-control" id="field_origine" data-cy="origine" name="origine" formControlName="origine">
            <option *ngIf="!editForm.get('origine')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="planteOption.id === editForm.get('origine')!.value?.id ? editForm.get('origine')!.value : planteOption"
              *ngFor="let planteOption of plantesSharedCollection; trackBy: trackPlanteById"
            >
              {{ planteOption.id }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['origine'])!.invalid && (editForm.get(['origine'])!.dirty || editForm.get(['origine'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['origine'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
