<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-cycle-de-vie-heading"
        data-cy="CycleDeVieCreateUpdateHeading"
        jhiTranslate="monolithApp.cycleDeVie.home.createOrEditLabel"
      >
        Create or edit a Cycle De Vie
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="monolithApp.cycleDeVie.semis" for="field_semis">Semis</label>
          <select class="form-control" id="field_semis" data-cy="semis" name="semis" formControlName="semis">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="semisOption.id === editForm.get('semis')!.value?.id ? editForm.get('semis')!.value : semisOption"
              *ngFor="let semisOption of semisSharedCollection; trackBy: trackSemisById"
            >
              {{ semisOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="monolithApp.cycleDeVie.apparitionFeuilles" for="field_apparitionFeuilles"
            >Apparition Feuilles</label
          >
          <select
            class="form-control"
            id="field_apparitionFeuilles"
            data-cy="apparitionFeuilles"
            name="apparitionFeuilles"
            formControlName="apparitionFeuilles"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                periodeAnneeOption.id === editForm.get('apparitionFeuilles')!.value?.id
                  ? editForm.get('apparitionFeuilles')!.value
                  : periodeAnneeOption
              "
              *ngFor="let periodeAnneeOption of periodeAnneesSharedCollection; trackBy: trackPeriodeAnneeById"
            >
              {{ periodeAnneeOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="monolithApp.cycleDeVie.floraison" for="field_floraison">Floraison</label>
          <select class="form-control" id="field_floraison" data-cy="floraison" name="floraison" formControlName="floraison">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                periodeAnneeOption.id === editForm.get('floraison')!.value?.id ? editForm.get('floraison')!.value : periodeAnneeOption
              "
              *ngFor="let periodeAnneeOption of periodeAnneesSharedCollection; trackBy: trackPeriodeAnneeById"
            >
              {{ periodeAnneeOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="monolithApp.cycleDeVie.recolte" for="field_recolte">Recolte</label>
          <select class="form-control" id="field_recolte" data-cy="recolte" name="recolte" formControlName="recolte">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="periodeAnneeOption.id === editForm.get('recolte')!.value?.id ? editForm.get('recolte')!.value : periodeAnneeOption"
              *ngFor="let periodeAnneeOption of periodeAnneesSharedCollection; trackBy: trackPeriodeAnneeById"
            >
              {{ periodeAnneeOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="monolithApp.cycleDeVie.croissance" for="field_croissance">Croissance</label>
          <select class="form-control" id="field_croissance" data-cy="croissance" name="croissance" formControlName="croissance">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                periodeAnneeOption.id === editForm.get('croissance')!.value?.id ? editForm.get('croissance')!.value : periodeAnneeOption
              "
              *ngFor="let periodeAnneeOption of periodeAnneesSharedCollection; trackBy: trackPeriodeAnneeById"
            >
              {{ periodeAnneeOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="monolithApp.cycleDeVie.maturite" for="field_maturite">Maturite</label>
          <select class="form-control" id="field_maturite" data-cy="maturite" name="maturite" formControlName="maturite">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                periodeAnneeOption.id === editForm.get('maturite')!.value?.id ? editForm.get('maturite')!.value : periodeAnneeOption
              "
              *ngFor="let periodeAnneeOption of periodeAnneesSharedCollection; trackBy: trackPeriodeAnneeById"
            >
              {{ periodeAnneeOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="monolithApp.cycleDeVie.plantation" for="field_plantation">Plantation</label>
          <select class="form-control" id="field_plantation" data-cy="plantation" name="plantation" formControlName="plantation">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                periodeAnneeOption.id === editForm.get('plantation')!.value?.id ? editForm.get('plantation')!.value : periodeAnneeOption
              "
              *ngFor="let periodeAnneeOption of periodeAnneesSharedCollection; trackBy: trackPeriodeAnneeById"
            >
              {{ periodeAnneeOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="monolithApp.cycleDeVie.rempotage" for="field_rempotage">Rempotage</label>
          <select class="form-control" id="field_rempotage" data-cy="rempotage" name="rempotage" formControlName="rempotage">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                periodeAnneeOption.id === editForm.get('rempotage')!.value?.id ? editForm.get('rempotage')!.value : periodeAnneeOption
              "
              *ngFor="let periodeAnneeOption of periodeAnneesSharedCollection; trackBy: trackPeriodeAnneeById"
            >
              {{ periodeAnneeOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="monolithApp.cycleDeVie.reproduction" for="field_reproduction">Reproduction</label>
          <select class="form-control" id="field_reproduction" data-cy="reproduction" name="reproduction" formControlName="reproduction">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                reproductionOption.id === editForm.get('reproduction')!.value?.id ? editForm.get('reproduction')!.value : reproductionOption
              "
              *ngFor="let reproductionOption of reproductionsSharedCollection; trackBy: trackReproductionById"
            >
              {{ reproductionOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
