<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-temperature-heading"
        data-cy="TemperatureCreateUpdateHeading"
        jhiTranslate="monolithApp.temperature.home.createOrEditLabel"
      >
        Create or edit a Temperature
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="monolithApp.temperature.min" for="field_min">Min</label>
          <input type="number" class="form-control" name="min" id="field_min" data-cy="min" formControlName="min" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="monolithApp.temperature.max" for="field_max">Max</label>
          <input type="number" class="form-control" name="max" id="field_max" data-cy="max" formControlName="max" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="monolithApp.temperature.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="monolithApp.temperature.rusticite" for="field_rusticite">Rusticite</label>
          <input type="text" class="form-control" name="rusticite" id="field_rusticite" data-cy="rusticite" formControlName="rusticite" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
