<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="feuillage">
      <h2 data-cy="feuillageDetailsHeading"><span jhiTranslate="monolithApp.feuillage.detail.title">Feuillage</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ feuillage.id }}</span>
        </dd>
        <dt><span jhiTranslate="monolithApp.feuillage.type">Type</span></dt>
        <dd>
          <span>{{ feuillage.type }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/feuillage', feuillage.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
