<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="mois">
      <h2 data-cy="moisDetailsHeading"><span jhiTranslate="monolithApp.mois.detail.title">Mois</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ mois.id }}</span>
        </dd>
        <dt><span jhiTranslate="monolithApp.mois.numero">Numero</span></dt>
        <dd>
          <span>{{ mois.numero }}</span>
        </dd>
        <dt><span jhiTranslate="monolithApp.mois.nom">Nom</span></dt>
        <dd>
          <span>{{ mois.nom }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/mois', mois.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
